@font-face {
  font-family: 'Pencerio';
  src: url('../fonts/Pencerio-Hairline.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stardom';
  src: url('../fonts/Stardom-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telma';
  src: url('../fonts/Telma-Variable.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}